# Database
POSTGRES_USER=app_user
POSTGRES_PASSWORD=app_password
POSTGRES_DB=app_db
DATABASE_URL=postgresql://app_user:app_password@127.0.0.1:5433/app_db

# Redis
REDIS_URL=redis://redis:6379

# App
NODE_ENV=development
PORT=3000

# JWT
JWT_SECRET=change_me_to_random_32_char_string
JWT_REFRESH_SECRET=change_me_to_another_random_32_char_string
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
JWT_REFRESH_COOKIE_PATH=http://localhost:3000/api/auth/refresh

# CORS
CORS_ORIGIN=http://localhost:5173

# Polling для отслеживания изменений в файлах при разработке
CHOKIDAR_USEPOLLING=true